/**********************************
  GLOBAL STYLES
***********************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --lightBlueOpacity: rgba(137, 216, 248, 0.2);
  --mainBlueOpacity: rgba(21, 212, 239, 0.3);
  --lightPurple: #d5b5e3;
  --lightBlue: #89d8f8;
  --darkBlue: #1A2D45;
  --yellow: #f8d51d;
  --purple: #872baf;
  --black: #092f5b;
  --green: #00cc5a;
  font-size: 100%;
  --blue: #15d4ef;
  --white: #fff;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--darkBlue);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'galano_grotesque_demobold', sans-serif;
  line-height: 48px;
  font-weight: 900;
  padding: 16px 0;
  margin: 0;
}

h1 { font-size: 30px; }

h2 {
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 20px;
}

p {
  white-space: pre-line;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin: 0;
}

small { font-size: 16px; }

a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.italic { font-style: italic; }
.bold { font-weight: 700; }
.right { float: right; }
.left { float: left; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.mobile { display: block; }
.desktop { display: none; }

@media (min-width: 576px) {
  .container { max-width: 540px; }
}

@media (min-width: 768px) {
  .container { max-width: 720px; }
}

@media (min-width: 992px) {
  .container { max-width: 960px; }
  .desktop { display: block; }
  .mobile { display: none; }

  h1 { font-size: 36px; }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}

.btn {
  box-shadow: 0 10px 40px -10px rgba(21, 212, 239, 0.5);
  font-family: 'galano_grotesque_demobold', sans-serif;
  background-color: var(--blue);
  transition: box-shadow 0.4;
  justify-content: center;
  -ms-align-items: center;
  display: -webkit-flex;
  transition: all 0.3s;
  align-items: center;
  color: var(--white);
  text-align: center;
  border-radius: 3px;
  position: relative;
  display: -ms-flex;
  line-height: 1.3;
  font-weight: 900;
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  height: 60px;
  width: 100%;
}

.btn:hover { box-shadow: none; }

/** Modals **/
#videoPressModal,
#videoTestimonialsModal {
  transition: opacity 0.35s;
  pointer-events: none;
  position: fixed;
  z-index: 99999;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#videoPressModal:target,
#videoTestimonialsModal:target {
  pointer-events: all;
  opacity: 1;
}

#videoPressModal .modal-inner,
#videoTestimonialsModal .modal-inner {
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
}

#videoPressModal .modal-inner iframe,
#videoTestimonialsModal .modal-inner iframe {
  height: 200px;
}

@media (min-width: 768px) {
  #videoPressModal .modal-inner iframe,
  #videoTestimonialsModal .modal-inner iframe {
    height: 550px;
    width: 940px;
  }
}

#videoPressModal a.close,
#videoTestimonialsModal a.close {
  background-color: rgb(0,0,0);
  transition: opacity 0.35s;
  position: absolute;
  opacity: 0.75;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#videoPressModal a.close:hover,
#videoTestimonialsModal a.close:hover {
  opacity: 0.85;
}

/* Swiper slider */
.swiper-slide {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  background: var(--white);
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  text-align: center;
  position: relative;
  display: -ms-flex;
  display: flex;
}

.swiper-pagination-bullet {
  width: 12.4px;
  height: 14px;
}

@media (min-width: 768px) {
  .swiper-pagination-bullet {
    height: 8px;
    width: 7px;
  }
}

/* Videos */
.video {
  -ms-align-items: center;
  display: -webkit-flex;
  align-items: center;
  position: relative;
  display: -ms-flex;
  display: flex;
}

.video a {
  position: absolute;
  width: 53px;
  left: 46%;
}

@media (min-width: 992px) {
  .video img:nth-child(1) {
    position: relative;
    height: inherit;
  }
}

/**********************************
  NAVIGATION
***********************************/
nav { position: relative; }

nav .hex {
  position: absolute;
  width: 233px;
  right: 0;
  top: 0;
}

nav .inner {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  position: relative;
  display: -ms-flex;
  display: flex;
  width: 100%;
  z-index: 1;
}

nav .left img {
  padding-bottom: 5px;
  padding-top: 18px;
  width: 145px;
}

nav .right img {
  margin-left: 0;
  width: 63.6px;
}

@media (min-width: 576px) {
  nav .inner { display: block; }
  nav .right img { width: 94px; }
}

@media (min-width: 768px) {
  nav .left img {
    padding-top: 35px;
    width: 265px;
  }

  nav .right img {
    margin-right: 20px;
    padding-top: 40px;
    width: 94px;
  }
}

@media(min-width: 1024px) {
  nav .hex { width: 561px; }
}

@media (min-width: 1200px) {
  nav .right img { margin-right: 120px; }
}

@media (min-width: 1200px) {
  nav .right img { margin-right: 0; }
}

/**********************************
  MASTHEAD
***********************************/
.masthead {
  position: relative;
  padding: 0 35px;
}

.masthead .inner {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}

.masthead .plush-image { margin-top: -120px; }

.masthead .plush-image img {
  margin-left: -30px;
  margin-top: 42px;
  max-width: 331px;
}

.masthead .inner .content {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  padding-bottom: 38px;
  align-items: center;
  display: flex;
}

.masthead .inner h1 {
  padding-bottom: 4px;
  line-height: 56px;
}

.masthead .inner p {
  padding-bottom: 24px;
  text-align: center;
  line-height: 27px;
}

.masthead .inner .btn {
  margin-bottom: 14.4px;
  width: 321px;
}

@media (min-width: 576px) {
  .masthead {
    padding-bottom: 95px;
    padding-right: 0;
    padding-left: 0;
  }

  .masthead .plush-image { margin-top: 0; }
  .masthead .content { padding-bottom: 0; }
}

@media (min-width: 768px) {
  .masthead .inner {
    -ms-align-items: center;
    display: -webkit-flex;
    align-items: center;
    display: -ms-flex;
    display: flex;
  }

  .masthead .inner .content { align-items: baseline; }

  .masthead .inner h1 {
    padding-bottom: 24px;
    font-size: 42px;
  }

  .masthead .inner p {
    padding-bottom: 38px;
    line-height: 32px;
    text-align: left;
    font-size: 20px;
    width: 100%;
  }

  .masthead .inner .plush-image {
    position: relative;
    right: 0;
    order: 1;
  }
}

@media (min-width: 992px) {
  .masthead .plush-image img {
    max-width: 691.7px;
    margin-left: 0;
    margin-top: 0;
  }

  .masthead .inner p { width: 500px; }
}

/**********************************
  PRODUCT PRESS
***********************************/
.product-press { padding-bottom: 40px; }

.product-press .video img:nth-child(1) {
  height: 275px;
}

.bar {
  background-color: var(--green);
  grid-template-columns: 40% 40%;
  -webkit-flex-direction: column;
  padding: 30px 39px 21px 27px;
  grid-template-rows: 30% 30%;
  -ms-flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  flex-direction: column;
  grid-column-gap: 48px;
  align-items: center;
  grid-row-gap: 24px;
  display: grid;
  height: 130px;
}

.bar .zam { width: 60px; }
.bar .engadget { width: 133px; }
.bar .usc-games { width: 138px; }
.bar .tech-crunch { width: 161px; }

@media (min-width: 768px) {
  .product-press .video img:nth-child(1) {
    height: auto;
    width: auto;
  }
}

@media (min-width: 992px) {
  .product-press { padding-bottom: 222px; }

  .product-press .video img:nth-child(1) {
    width: 620px;
  }

  .bar {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -ms-align-items: center;
    display: -webkit-flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    display: -ms-flex;
    margin-top: 30px;
    display: flex;
  }

  .bar .usc-games { width: 152.8px; }
  .bar .engadget { width: 148px; }
  .bar .tech-crunch { width: 212px; }
  .bar .zam { width: 100px; }
}

/**********************************
  PRODUCT FEATURES
***********************************/
.product-features .feature-tabs {
  border-bottom: 2px solid var(--mainBlueOpacity);
  justify-content: space-between;
  display: -webkit-flex;
  border-radius: 4px;
  display: -ms-flex;
  text-align: left;
  display: flex;
  margin: auto;
}

.tab-content .tab-panel { text-align: center; }

.product-features .feature-tabs > li {
  text-align: center !important;
  transition: border 0.4s;
  margin-bottom: 10px;
  list-style: none;
}

.product-features .feature-tabs > li:nth-child(2) {
  margin-right: 22px;
  margin-left: 22px;
}

.product-features .feature-tabs > li:last-child {
  width: 160px;
}

.product-features .feature-tabs > li a {
  letter-spacing: 0.26px;
  line-height: 22px;
  font-size: 14px;
}

.product-features .feature-tabs > li:hover,
.product-features .feature-tabs > li.active {
  border-bottom: 2px solid var(--blue);
  margin-bottom: -2px;
}

.product-features .feature-tabs > li.active {
  font-weight: 900;
}

.tab-content {
  padding-bottom: 30px;
  padding-top: 24px;
}

.tab-content .tab-panel > .content {
  -webkit-flex-direction: column;
  padding: 60px 35px 0 35px;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

@media (max-width: 768px) {
  .product-features .container {
    padding-right: 0;
    padding-left: 0;
  }

  .product-features .feature-tabs > li {
    text-align: left;
  }

  .tab-content { padding-top: 31px; }
}

@media (min-width: 992px) {
  .tab-content .tab-panel > .content { padding: 0 0 88px 0; }

  .product-features .feature-tabs > li:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }

  .product-features .feature-tabs > li:last-child {
    width: auto;
  }

  .product-features .feature-tabs > li a {
    letter-spacing: 0.3px;
    line-height: 26px;
    font-size: 16px;
  }

  .product-features .feature-tabs {
    text-align: left;
    width: 821px;
  }

  .tab-content .tab-panel {
    grid-template-columns: 50% 50%;
    grid-column-gap: 40px;
    display: inline-grid;
    text-align: left;
  }

  .tab-content .tab-panel .image {
    -ms-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .tab-content .tab-panel img {
    margin-left: 0;
  }

  .tab-content .tab-panel > .content {
    padding-bottom: 0;
    width: 456px;
  }
}

@media (min-width: 1440px) {
  .product-features {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    flex-direction: column;
    -ms-align-items: center;
    display: -webkit-flex;
    align-items: center;
    display: -ms-flex;
    display: flex;
  }
}

/**********************************
  BUNDLES SECTION & STORYKITS GROUP
***********************************/
.bundles-section,
.storykits,
.howDoesItWork,
.meet-friends {
  padding-left: 35px;
  padding-right: 35px;
}

.bundles-section .header,
.storykits .header,
.howDoesItWork .header {
  padding-bottom: 8px;
  text-align: center;
}

@media (min-width: 992px) {
  .bundles-section,
  .storykits,
  .howDoesItWork,
  .meet-friends {
    padding-left: 0;
    padding-right: 0;
  }
}

/**********************************
  BUNDLES SECTION
***********************************/
.bundles-section {
  background-color: var(--lightBlueOpacity);
  padding-bottom: 72px;
  position: relative;
  padding-top: 26px;
}

.bundles-section .hex {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 30%;
}

.bundles-section .header {
  padding-bottom: 8px;
  text-align: center;
}

.bundles-section .header p {
  letter-spacing: 0;
}

.bundles-section .pricing {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  z-index: -1;
}

.pricing .top-image { z-index: 1; }

.pricing .top-image img { width: 305px; }

.pricing__tables {
  margin-top: -60px;
  display: block;
}

.pricing__table.pricing__table--starterPack,
.pricing__table.pricing__table--advancedPack {
  -webkit-flex-direction: column;
  background-color: var(--white);
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  border-radius: 3px;
  display: -ms-flex;
  padding-top: 39px;
  display: flex;
}

.pricing__table.pricing__table--starterPack {
  border: 2px solid var(--purple);
  margin-bottom: 23px;
}

.pricing__table.pricing__table--advancedPack {
  border: 2px solid var(--yellow);
}

.pricing__table.pricing__table--starterPack table,
.pricing__table.pricing__table--advancedPack table {
  padding-left: 22.5px;
  margin-bottom: 33.2px;
  margin-top: 23px;
}

.pricing__table.pricing__table--starterPack table tr td:nth-child(1),
.pricing__table.pricing__table--advancedPack table tr td:nth-child(1) {
  display: -webkit-flex;
  display: -ms-flex;
  margin-top: 5px;
  display: flex;
  width: 18px;
}

.pricing__table.pricing__table--starterPack table tr td:nth-child(2),
.pricing__table.pricing__table--advancedPack table tr td:nth-child(2) {
  padding-left: 8px;
}

.pricing__table.pricing__table--starterPack table tr td:last-child,
.pricing__table.pricing__table--advancedPack table tr td:last-child {
  padding-bottom: 17px;
}

.pricing__table.pricing__table--starterPack .illustration img,
.pricing__table.pricing__table--advancedPack .illustration img {
  height: 166px;
}

.pricing__table .btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

@media (min-width: 768px) {
  .bundles-section { padding-top: 96px; }
  .bundles-section .hex { top: 12%; }

  .pricing__table.pricing__table--starterPack table,
  .pricing__table.pricing__table--advancedPack table {
    padding-left: 0;
  }

  .pricing__table.pricing__table--starterPack table,
  .pricing__table.pricing__table--advancedPack table {
    margin-bottom: 32px;
    padding-left: 0;
  }

  .pricing__table.pricing__table--starterPack,
  .pricing__table.pricing__table--advancedPack {
    padding: 39px 30px 47px 30px;
  }

  .pricing__tables {
    grid-template-columns: 45% 45%;
    justify-content: center;
    grid-column-gap: 20px;
    position: relative;
    margin-top: -94px;
    display: grid;
  }

  .pricing__table.pricing__table--starterPack {
    margin-bottom: 0;
  }

  .pricing__table .btn {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}

@media (min-width: 992px) {
  .pricing__tables { grid-template-columns: 27% 27%; }
}

@media (min-width: 1440px) {
  .pricing__tables { grid-template-columns: 22% 22%; }
}

@media (min-width: 2560px) {
  .pricing__tables { grid-template-columns: 15% 15%; }
}

/**********************************
  STORYKITS
***********************************/
.storykits {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  padding-top: 72px;
  display: -ms-flex;
  display: flex;
}

.storykits .header { padding-bottom: 58px; }
.storykits .header p { width: 335px; }

.storykits .box {
  position: relative;
  border-radius: 3px;
}

.storykits .box > .hex {
  position: absolute;
  left: 37.5%;
}

.storykits .box > .box__content .text h2 {
  padding-bottom: 24px;
  padding-top: 0;
}

.box__content .header {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  padding-bottom: 0;
  display: -ms-flex;
  padding-top: 52px;
  display: flex;
}

.box__content h2 { padding: 0; }

.mobile .box__content p,
.mobile .games {
  padding-bottom: 16px;
  text-align: center;
}

.box__content .header h2 {
  padding-bottom: 8.1px;
  padding-top: 0;
  width: 238.3px;
}

.box__content .header p {
  padding-top: 0;
  width: 290px;
}

.box__content .image { padding-bottom: 16px; }

.box__content .main-copy {
  padding-bottom: 24px;
  padding-right: 18px;
  padding-left: 19px;
}

.storykit__info {
  padding: 24px 22px 23px 23px;
  color: var(--white);
  text-align: center;
  position: relative;
  display: block;
}

.storykit__info p { color: var(--white); }
.storykit__info img { margin-bottom: 8px; }

.storykits .box > .box__content {
  grid-column-gap: 46px;
  text-align: center;
  display: grid;
}

.storykits .btn { margin-top: 10px; }

@media (min-width: 768px) {
  .storykits .header p { width: 360px; }

  .storykits .box { width: 630px; }
  .storykits .box > .hex { left: 45%; }

  .storykits .btn { width: 630px; }
}

@media (min-width: 992px) {
  .storykits { padding-bottom: 83px; }

  .storykits .box { width: 847px; }

  .storykits .box > .mobile .box__content { text-align: left; }

  .storykits .box > .desktop .box__content .text {
    padding-right: 49px;
    padding-left: 46px;
    padding-top: 38px;
  }

  .storykits .box > .desktop .box__content .text p {
    padding-top: 24px;
  }

  .storykit__info {
    justify-content: center;
    -ms-align-items: center;
    display: -webkit-flex;
    align-items: center;
    position: absolute;
    border-radius: 3px;
    display: -ms-flex;
    padding: 0 14px;
    display: flex;
    height: 115px;
    width: 661px;
    z-index: 999;
  }

  .storykits .btn {
    margin-top: 160px;
    width: 321px;
  }
}

/** purple box **/
.storykits .box.purple {
  border: 2px solid var(--purple);
  margin-bottom: 82px;
}

.storykits .box.purple > .hex { top: -3.7%; }

.storykits .box.purple > .hex img {
  height: 100px;
}

.storykit__info.storykit__info--purple {
  background-color: var(--purple);
}

.storykit__info.storykit__info--purple .idea { padding: 30px 0; }

@media (min-width: 576px) {
  .storykits .box.purple > .mobile .box__content .text {
    padding-right: 55px;
    padding-top: 38px;
  }
}

@media (min-width: 768px) {
  .storykits .box.purple > .hex { top: -3.4%; }
}

@media (min-width: 992px) {
  .storykits .box.purple > .hex {
    left: -40px;
    top: -11%;
  }

  .storykits .box.purple {
    margin-bottom: 144px;
  }

  .storykits .box.purple > .desktop .box__content {
    grid-template-columns: 44% 56%;
    grid-template-rows: 100%;
    height: 470px;
    display: grid;
  }

  .storykits .box.purple > .desktop .box__content .image {
    width: 368px;
  }

  .storykit__info.storykit__info--purple {
    bottom: -15%;
    right: -5%;
  }

  .storykit__info.storykit__info--purple .tokens { width: 134px; }
  .storykit__info.storykit__info--purple .idea { width: 300px; }
  .storykit__info.storykit__info--purple .music { width: 190px; }
}

@media (min-width: 1440px) {
  .storykits .box.purple { margin-bottom: 144px; }

  .storykit__info.storykit__info--purple {
    right: -8%;
  }
}

/** yellow box **/
.storykits .box.yellow {
  border: 2px solid var(--yellow);
}

.storykits .box.yellow > .hex { top: -2.3%; }

.storykits .box.yellow > .hex img {
  height: 74px;
}

.storykit__info.storykit__info--yellow .music { padding: 30px 0; }

.storykits .box.yellow .box__content .letter-search img {
  padding-bottom: 24px;
  height: 456px;
}

.storykits .box.yellow .box__content .games img {
  padding-bottom: 24px;
  margin-left: 0;
}

.games .text {
  padding-right: 22px;
  padding-left: 23px;
  padding-top: 23px;
}

.storykit__info.storykit__info--yellow {
  background-color: var(--yellow);
}

@media (min-width: 768px) {
  .storykits .box.yellow > .hex { top: -2%; }
}

@media (min-width: 992px) {
  .storykits .box.yellow > .hex {
    left: -4.4%;
    top: -4.2%;
  }

  .storykits .box.yellow .box__content {
    grid-template-columns: 50% 50%;
    grid-template-rows: 72% 26%;
    padding-bottom: 77px;
    height: 733px;
    display: grid;
  }

  .storykits .box.yellow .box__content .text {
    padding-left: 49px;
    padding-top: 46px;
    padding-right: 0;
    width: 450px;
  }

  .storykits .box.yellow .letter-search img {
    padding-bottom: 0;
    margin-right: 0;
    width: 309px;
  }

  .storykits .box.yellow .text__no--padding {
    padding-left: 33px;
    padding-top: 0;
  }

  .storykits .box.yellow .text__no--padding h2 {
    padding-bottom: 24px;
  }

  .storykit__info.storykit__info--yellow {
    bottom: -8%;
    left: -2%;
  }

  .storykit__info.storykit__info--yellow .tokens { width: 134px; }
  .storykit__info.storykit__info--yellow .music { width: 260px; }
  .storykit__info.storykit__info--yellow .idea { width: 190px; }
}

/**********************************
  PERFECT FOR
***********************************/
.perfect-for .hex {
  position: absolute;
  left: -290px;
  z-index: -1;
  top: 280px;
}

.perfect-for {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  padding-bottom: 40px;
  padding-right: 38px;
  align-items: center;
  padding-left: 37px;
  position: relative;
  display: -ms-flex;
  display: flex;
}

.perfect-for .perfect-for-grid {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  display: -ms-flex;
  display: flex;
  width: 100%;
}

.perfect-for .perfect-for-grid .text {
  padding-bottom: 40px;
  text-align: center;
  padding-top: 41px;
  width: 290px;
}

.perfect-for .perfect-for-grid > .box {
  border: 2px solid var(--green);
  background-color: var(--white);
  position: relative;
  border-radius: 3px;
  height: 149px;
  width: 100%;
}

.two-threeYears,
.three-fiveYears { margin-bottom: 24px; }

.perfect-for .perfect-for-grid > .box .box__content {
  position: absolute;
  left: 93px;
}

.perfect-for .perfect-for-grid > .box .box__content:nth-child(1) {
  right: 7%;
}

.perfect-for .perfect-for-grid > .box .left { height: 100%; }
.perfect-for .perfect-for-grid > .box .left img { height: inherit; }

.perfect-for .perfect-for-grid > .box .box__content h2 {
  letter-spacing: 0.3px;
  line-height: 21.1px;
  padding-bottom: 0;
  padding-top: 16px;
  font-size: 18px;
}

.perfect-for .perfect-for-grid > .box .box__content p {
  margin-bottom: 10px;
  margin-left: 6px;
}

.perfect-for .perfect-for-grid > .box .box__content table {
  border-collapse: collapse;
  margin-top: 3px;
}

.perfect-for .perfect-for-grid > .box .box__content table td {
  padding-left: 0;
}

.perfect-for .perfect-for-grid > .box .box__content table tr td:nth-child(1),
.perfect-for .perfect-for-grid > .box .box__content table tr td:nth-child(1) {
  display: -webkit-flex;
  display: -ms-flex;
  padding-top: 6px;
  display: flex;
  width: 18px;
}

.perfect-for .perfect-for-grid > .box .box__content table tr td:last-child {
  padding-bottom: 0;
  padding-left: 0;
}

.perfect-for .btn {
  margin-top: 40px;
  width: 305px;
}

@media (min-width: 768px) {
  .perfect-for .perfect-for-grid > .box { width: 330px; }
}

@media (min-width: 992px) {
  .perfect-for .hex {
    left: auto;
    top: auto;
  }

  .perfect-for {
    padding-bottom: 254.4px;
    padding-right: 0;
    padding-left: 0;
  }

  .perfect-for .perfect-for-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    display: grid;
    width: auto;
  }

  .perfect-for .perfect-for-grid > .box {
    height: 209px;
    width: 408px;
  }

  .perfect-for .perfect-for-grid > .box .box__content {
    left: 140px;
    top: 33px;
  }

  .perfect-for .perfect-for-grid > .box .box__content h2 {
    padding-bottom: 15px;
    font-size: 20px;
    padding-top: 0;
  }

  .perfect-for .perfect-for-grid > .box .box__content p {
    margin-left: 16px;
  }

  .perfect-for .perfect-for-grid .text {
    padding-bottom: 0;
    text-align: left;
    padding-top: 0;
    width: 300px;
  }

  .two-threeYears {
    margin-left: -80px;
    margin-bottom: 0;
  }

  .three-fiveYears {
    margin-right: 102px;
    margin-bottom: 0;
    margin-top: 14px;
  }

  .five-sevenYears {
    margin-top: 36px;
  }

  .perfect-for .btn {
    margin-top: 70px;
    width: 321px;
  }
}

/**********************************
  MADE BY PARENTS
***********************************/
.made-by {
  background-color: var(--lightBlueOpacity);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  position: relative;
  display: -ms-flex;
  display: flex;
}

.made-by .made-by-grid {
  padding: 42px 35px 40px 35px;
  text-align: center;
}

.made-by-grid .heading { padding-bottom: 29px; }

.made-by-grid .heading h1 {
  line-height: 40px;
  letter-spacing: 0;
  margin: 0 auto;
  width: 299px;
  padding: 0;
}

.made-by-grid .text {
  margin: 0 auto;
  width: 285px;
}

@media (min-width: 992px) {
  .made-by {
    padding-bottom: 79.7px;
    padding-top: 190px;
  }

  .made-by .made-by-grid {
    grid-template-columns: 335px 380px;
    justify-content: center;
    grid-column-gap: 65px;
    text-align: left;
    display: grid;
    padding: 0;
  }

  .made-by-grid .heading h1,
  .made-by-grid .text { width: auto; }

  .made-by img {
    padding-bottom: 72px;
    position: absolute;
    height: 396px;
    width: 620px;
    top: -35%;
  }
}

/**********************************
  FEATURES
***********************************/
.features { padding: 20px 23px 32px 23px; }

.swiper-container {
  height: 100%;
  width: 100%;
}

.features .swiper-slide .middleIcon-image {
  padding-bottom: 8px;
  padding-top: 26px;
}

.features .swiper-slide .text {
  width: 338px;
}

.features .swiper-slide .text h2 { padding: 0; }

.features .swiper-slide .text p {
  padding-bottom: 32px;
  padding-top: 4px;
}

.features .swiper-slide .text .OS-logos {
  height: 24px;
}

.features .swiper-pagination .swiper-pagination-bullet { background-color: var(--blue); }

.swiper-button-next, .swiper-button-prev { top: 30%; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(../images/icon-arrow-left.svg);
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(../images/icon-arrow-right.svg);
}

@media (min-width: 768px) {
  .features { position: relative; }

  .features .desktop .hex {
    position: absolute;
    top: -20%;
    left: 0;
  }
}

@media (min-width: 992px) {
  .features .desktop .inner_content {
    padding-bottom: 62px;
    position: relative;
    padding-top: 100px;
  }

  .features .desktop .inner_content img.main-image,
  .features .desktop .images .highly-interactive-image,
  .features .desktop .images .operating-system-image,
  .features .desktop .images .batteries-image,
  .features .desktop .images .hypoallergenic-image,
  .features .desktop .images .compTablet-image,
  .features .desktop .images .genuine-personality-image,
  .features .desktop .images .size-image,
  .features .desktop .images .soft-and-safe-image,
  .features .desktop .images .expanding-app-image {
    position: absolute;
    height: 468px;
    left: 19%;
    top: 20%;
  }

  .features .desktop .inner_content p {
    text-align: center;
    font-style: italic;
    position: absolute;
    width: 100%;
    bottom: 17%;
    left: -1%;
  }

  .features .desktop .highly-interactive,
  .features .desktop .operating-system,
  .features .desktop .batteries,
  .features .desktop .hypoallergenic,
  .features .desktop .compTablet,
  .features .desktop .genuine-personality,
  .features .desktop .size,
  .features .desktop .soft-and-safe,
  .features .desktop .expanding-app {
    position: absolute;
  }

  .features .desktop .images .highly-interactive-image,
  .features .desktop .images .operating-system-image,
  .features .desktop .images .batteries-image,
  .features .desktop .images .hypoallergenic-image,
  .features .desktop .images .compTablet-image,
  .features .desktop .images .genuine-ersonality-image,
  .features .desktop .images .soft-and-safe-image,
  .features .desktop .images .expanding-app-image,
  .features .desktop .operating-system .hover,
  .features .desktop .highly-interactive .hover,
  .features .desktop .batteries .hover,
  .features .desktop .hypoallergenic .hover,
  .features .desktop .compTablet .hover,
  .features .desktop .genuine-personality .hover,
  .features .desktop .size .hover,
  .features .desktop .soft-and-safe .hover,
  .features .desktop .expanding-app .hover {
    display: none;
  }

  .features .desktop .highly-interactive .text,
  .features .desktop .operating-system .text,
  .features .desktop .batteries .text,
  .features .desktop .hypoallergenic .text,
  .features .desktop .genuine-personality .text,
  .features .desktop .compTablet .text,
  .features .desktop .size .text,
  .features .desktop .soft-and-safe .text,
  .features .desktop .expanding-app .text {
    position: relative;
    text-align: left;
    width: 258px;
  }

  .features .desktop .highly-interactive .text h2,
  .features .desktop .operating-system .text h2,
  .features .desktop .batteries .text h2,
  .features .desktop .hypoallergenic .text h2,
  .features .desktop .compTablet .text h2,
  .features .desktop .genuine-personality .text h2,
  .features .desktop .size .text h2,
  .features .desktop .soft-and-safe .text h2,
  .features .desktop .expanding-app .text h2 {
    position: absolute;
    padding-top: 0;
    left: 0;
  }

  .feature .text .hover { display: none; }
  .feature h2 { color: #1a2d45; }
  .feature:hover h2 { color: #15d4ef; }
  .feature:hover .text .hover { display: block; }
  .images img { display: none; }

  .features .desktop .highly-interactive .hover,
  .features .desktop .operating-system .hover,
  .features .desktop .batteries .hover
  .features .desktop .hypoallergenic .hover,
  .features .desktop .compTablet .hover,
  .features .desktop .genuine-personality .hover,
  .features .desktop .size .hover,
  .features .desktop .soft-and-safe .hover,
  .features .desktop .expanding-app .hover {
    position: absolute;
    text-align: left;
  }

  .features .desktop .highly-interactive .hover,
  .features .desktop .batteries .hover,
  .features .desktop .hypoallergenic .hover,
  .features .desktop .genuine-personality .hover,
  .features .desktop .compTablet .hover,
  .features .desktop .size .hover,
  .features .desktop .soft-and-safe .hover,
  .features .desktop .expanding-app .hover {
    padding-top: 30px;
  }

  .features .desktop .operating-system .text,
  .features .desktop .batteries .text,
  .features .desktop .hypoallergenic .text,
  .features .desktop .soft-and-safe .text,
  .features .desktop .expanding-app .text {
    width: 180px;
  }

  /** highly interactive **/
  .features .desktop .highly-interactive {
    bottom: 28%;
    left: -3%;
  }

  .features .desktop .highly-interactive .icon {
    position: absolute;
    bottom: 74%;
    left: 75%;
  }

  /** operating system **/
  .features .desktop .operating-system {
    top: 51%;
    left: 0;
  }

  .features .desktop .operating-system .hover {
    padding-top: 60px;
  }

  .features .desktop .operating-system .icon {
    position: absolute;
    bottom: 74%;
    left: 66%;
  }

  .features .desktop .operating-system .OS-logos {
    margin: 10px;
    height: 24px;
  }

  /** batteries **/
  .features .desktop .batteries {
    top: 35.5%;
    left: 4%;
  }

  .features .desktop .batteries .icon {
    position: absolute;
    left: 61%;
    top: -12%;
  }

  /** hypoallergenic **/
  .features .desktop .hypoallergenic {
    left: 13%;
    top: 15%;
  }

  .features .desktop .hypoallergenic .icon {
    position: absolute;
    left: 96%;
    top: -5%;
  }

  /** compatible tablet sizes **/
  .features .desktop .compTablet {
    left: 37%;
    top: 7%;
  }

  .features .desktop .images .compTablet-image { left: 22%; }

  .features .desktop .compTablet .hover {
    margin-top: -44px;
    padding: 0;
  }

  .features .desktop .compTablet .icon {
    position: absolute;
    left: 36%;
    top: 184%;
  }

  /** genuine-personality **/
  .features .desktop .genuine-personality {
    right: 2%;
    top: 14%;
  }

  .features .desktop .genuine-personality .icon {
    position: absolute;
    right: 109%;
    top: -5%;
  }

  /** size **/
  .features .desktop .size {
    right: -13.5%;
    top: 34%;
  }

  .features .desktop .size .icon {
    position: absolute;
    right: 112%;
    top: -23%;
  }

  /** soft and padding **/
  .features .desktop .soft-and-safe {
    right: -8.5%;
    top: 46%;
  }

  .features .desktop .soft-and-safe .hover {
    padding-top: 60px;
  }

  .features .desktop .soft-and-safe .icon {
    position: absolute;
    bottom: 64%;
    right: 108%;
  }

  /** expanding app library **/
  .features .desktop .expanding-app {
    bottom: 27%;
    right: -3%;
  }

  .features .desktop .expanding-app .hover {
    padding-top: 60px;
  }

  .features .desktop .expanding-app .icon {
    position: absolute;
    bottom: 80%;
    right: 108%;
  }

  .features .desktop .btn {
    position: absolute;
    width: 321px;
    margin: auto;
    bottom: 6%;
    left: 34%;
  }
}

@media (min-width: 1200px) {
  .features .desktop .inner_content img.main-image,
  .features .desktop .images .highly-interactive-image,
  .features .desktop .images .operating-system-image,
  .features .desktop .images .batteries-image,
  .features .desktop .images .hypoallergenic-image,
  .features .desktop .images .comp-Tablet-image,
  .features .desktop .images .genuine-personality-image,
  .features .desktop .images .size-image,
  .features .desktop .images .soft-and-safe-image {
    left: 23%;
  }

  .features .desktop .images .expanding-app-image {
    left: 21.4% !important;
  }

  .features .desktop .operating-system .text,
  .features .desktop .soft-and-safe .text,
  .features .desktop .expanding-app .text {
    width: 258px;
  }

  .features .desktop .operating-system .hover,
  .features .desktop .soft-and-safe .hover,
  .features .desktop .expanding-app .hover {
    padding-top: 30px;
  }

  .features .desktop .highly-interactive { left: 5%; }
  .features .desktop .operating-system { left: 0; }

  .features .desktop .operating-system .icon {
    left: 81%;
    top: -7%;
  }

  .features .desktop .batteries { left: 10%; }
  .features .desktop .batteries .icon { left: 69%; }

  .features .desktop .hypoallergenic { left: 18%; }
  .features .desktop .genuine-personality { right: 10%; }
  .features .desktop .size { right: -3%; }

  .features .desktop .compTablet { left: 39%; }
  .features .desktop .images .compTablet-image { left: 27%; }

  .features .desktop .soft-and-safe {
    right: -6.5%;
    top: 50%;
  }

  .features .desktop .expanding-app { right: -2%; }
  .features .desktop .expanding-app .icon { bottom: 68%; }

  .features .desktop .btn { left: 36%; }
}

/**********************************
  HOW DOES IT WORK
***********************************/
.howDoesItWork {
  position: relative;
  padding-top: 62px;
}

.howDoesItWork .yellowHex,
.howDoesItWork .greenHex,
.howDoesItWork .greenHexMobile {
  position: absolute;
  z-index: -1;
}

.howDoesItWork .yellowHex {
  top: -10%;
  right: 0;
}

.howDoesItWork .greenHex {
  bottom: 0;
  left: 0;
}

.howDoesItWork .greenHexMobile {
  top: 39%;
  right: 0;
}

.verticalLine { display: none; }

.howDoesItWork .header h1 {
  padding-bottom: 58px;
}

.howDoesItWork .grid { text-align: center; }

.box .pointImage { height: 83px; }

.box.sensors,
.box.learn { padding-bottom: 57px; }

.box.sensors .stepImage {
  height: 221px;
  width: 202px;
}

.box.learn .stepImage {
  height: 205px;
  width: 230px;
}

.box.development .stepImage {
  height: 213px;
  width: 197px;
}

.howDoesItWork .greenHex {
  bottom: 0;
  left: 0;
}

.howDoesItWork .btn {
  margin-bottom: 31px;
  margin-top: 24px;
}

@media (min-width: 992px) {
  .howDoesItWork { margin-bottom: 475px; }

  .howDoesItWork .greenHex img { height: 280px; }

  .verticalLine {
    border-left: 2px solid var(--green);
    position: absolute;
    display: block;
    height: 930px;
    left: 113.4px;
    z-index: -1;
    top: 221px;
  }

  .howDoesItWork .grid {
    grid-row-gap: 47px;
    text-align: left;
    display: grid;
  }

  .howDoesItWork .grid .box {
    grid-template-columns: 10% 30% 49%;
    -ms-align-items: center;
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .howDoesItWork .btn { display: none; }
}

@media (min-width: 1200px) {
  .howDoesItWork .greenHex img { height: 300px; }

  .verticalLine {
    height: 840px;
    left: 132.4px;
  }
}

@media (min-width: 1440px) {
  .howDoesItWork .greenHex img { height: 470px; }

  .verticalLine {
    height: 840px;
    left: 132px;
  }
}

/**********************************
  Testimonials
***********************************/
.testimonials .header {
  background-color: var(--purple);
  text-align: center;
}

.testimonials .header h1 { color: var(--white); }

.testimonials .swiper-container h3 {
  padding-bottom: 60px;
  line-height: 21px;
  padding-top: 0;
}

.testimonials .swiper-container p {
  padding-bottom: 16px;
  padding-top: 19px;
}

.mobile .testimonials .header { padding: 50px 35px; }

.testimonials .header h1 {
  line-height: 48px;
  margin: 0 auto;
  padding: 0;
}

.mobile .testimonials .slider,
.mobile .testimonials .swiper-container .swiper-slider {
  background-color: var(--lightPurple);
}

.testimonials .swiper-container img {
  padding-top: 24px;
  height: 93px;
}

.mobile .testimonials .swiper-container p,
.mobile .testimonials .swiper-container h3 { width: 305px; }

.mobile .testimonials .swiper-pagination .swiper-pagination-bullet { background-color: var(--white); }

@media (min-width: 992px) {
  .testimonials {
    background-color: var(--lightPurple);
    height: 680px;
  }

  .testimonials .video {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: -50%;
  }

  .testimonials .header {
    padding: 87px 45px 86px 45px;
    border-radius: 3px;
    height: 322px;
    width: 380px;
    z-index: 1;
  }

  .testimonials .header h1 {
    line-height: 48px;
    margin: 0 auto;
    width: 290px;
    padding: 0;
  }

  .testimonials .other-content {
    grid-template-columns: 39% 34.2%;
    justify-content: center;
    -ms-align-items: center;
    padding-bottom: 40px;
    display: inline-grid;
    align-items: center;
    margin-top: 180px;
  }

  .testimonials .other-content .slider { overflow: hidden; }

  .testimonials .other-content .slider .slider-content {
    border-radius: 3px;
    text-align: left;
    height: 310px;
    width: 450px;
  }

  .testimonials .other-content .swiper-container .swiper-slider,
  .testimonials .other-content .slider .slider-content {
    background-color: var(--white);
  }

  .testimonials .other-content .slider .slider-content p,
  .testimonials .other-content .slider .slider-content h3 {
    width: 305px;
    margin: auto;
  }

  .testimonials .other-content .slider .slider-content p { text-align: left; }
  .testimonials .other-content .slider .slider-content h3 {
    letter-spacing: 0.38px;
    line-height: 26px;
    font-size: 20px;
  }

  .testimonials .other-content .swiper-pagination { bottom: 20px; }
  .testimonials .other-content .swiper-pagination .swiper-pagination-bullet { background-color: var(--blue); }

  .testimonials .btn {
    width: 321px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .testimonials .other-content {
    grid-template-columns: 40.5% 34.2%;
  }
}

/**********************************
  MEET OCTOBO'S FRIENDS
***********************************/
.meet-friends {
  padding-bottom: 31px;
  position: relative;
}

.meet-friends .hex {
  position: absolute;
  top: 29%;
  right: 0;
}

.meet-friends .friends-content { text-align: center; }

.meet-friends .friends-content h1 {
  padding-bottom: 5px;
  padding-top: 32px;
}

.meet-friends .friends-content p {
  white-space: normal;
  margin: 0 auto;
}

.meet-friends .friends-images {
  padding-bottom: 32px;
  padding-top: 44px;
}

@media(min-width: 768px) {
  .meet-friends {
    padding-bottom: 80px;
    padding-top: 81px;
  }

  .meet-friends .friends-content { text-align: left; }

  .meet-friends .friends-images {
    padding-bottom: 0;
    padding-top: 0;
  }

  .meet-friends .content {
    grid-template-columns: 50% 49%;
    justify-content: center;
    display: grid;
  }

  .meet-friends .friends-content h1 {
    padding-bottom: 5px;
    padding-top: 32px;
  }

  .meet-friends .friends-content p {
    white-space: normal;
    margin: 0 auto;
    width: 305px;
  }

  .meet-friends .btn { display: none; }
}

@media (min-width: 992px) {
  .meet-friends .content { grid-template-columns: 37% 35%; }
  .meet-friends .friends-content h1 { padding-top: 0; }

  .meet-friends .friends-content p {
    width: 378px;
    margin: 0;
  }
}

/**********************************
  FOOTER
***********************************/
footer {
  background-color: var(--green);
  padding-bottom: 23px;
  padding-top: 24px;
}

footer .social-links {
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

footer .social-links img { height: 53px; }

footer .social-links a { margin-right: 23px; }
footer .social-links a:last-child { margin-right: 0; }

footer p {
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: center;
  line-height: 1.75;
  font-size: 12px;
}
