/**********************************
  GLOBAL STYLES
***********************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --lightBlueOpacity: rgba(137, 216, 248, 0.2);
  --lightBlue: #89d8f8;
  --darkBlue: #1A2D45;
  --yellow: #f8d51d;
  --purple: #872baf;
  --black: #092f5b;
  --green: #00cc5a;
  font-size: 100%;
  --blue: #15d4ef;
  --white: #fff;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a { color: var(--darkBlue);}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'galano_grotesque_demobold', sans-serif;
  line-height: 48px;
  font-weight: 900;
  padding: 16px 0;
  margin: 0;
}

h1 { font-size: 30px; }

h2 {
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 20px;
}

p {
  white-space: pre-line;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin: 0;
}

small { font-size: 16px; }

a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.italic { font-style: italic; }
.bold { font-weight: 700; }
.right { float: right; }
.left { float: left; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.mobile { display: block; }
.desktop { display: none; }

@media (min-width: 576px) {
  .container { max-width: 540px; }
}

@media (min-width: 768px) {
  .container { max-width: 720px; }
}

@media (min-width: 992px) {
  .container { max-width: 960px; }
  .desktop { display: block; }
  .mobile { display: none; }

  h1 { font-size: 36px; }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}

.btn {
  background-color: var(--blue);
  transition: box-shadow 0.4;
  justify-content: center;
  -ms-align-items: center;
  display: -webkit-flex;
  transition: all 0.3s;
  align-items: center;
  color: var(--white);
  border-radius: 3px;
  position: relative;
  display: -ms-flex;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  padding: 20px;
  height: 60px;
  width: 100%;
}

@media (min-width: 768px) {
  .btn { box-shadow: 0 10px 40px -10px rgba(21, 212, 239, 0.5); }
}

.btn:hover { box-shadow: none; }

/** Modal **/
.popup {
  -webkit-transition: opacity  0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
  background: rgba(0,0,0, 0.75);
  justify-content: center;
  -ms-align-items: center;
  display: -webkit-flex;
  align-items: center;
  display: -ms-flex;
  z-index: 9999999;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  top: -100vh;
  opacity: 0;
  left: 0;
}

/* The cancel button on popup */
.popup a.closePopUp {
  text-decoration: none;
  color: var(--white);
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  right: 0.375em;
  padding: 5px;
  top: 0.2em;
  margin: 0;
}

/* The cancel button on popup dialog */
.popup a:hover {
  color: #c0392b;
}

/* When popup is targeted, by clicking on link with #popup in HTML */
.popup:target {
  opacity: 1;
  top: 0;
}

.popup .closePopUpOutSide {
  position: absolute;
  z-index: 9999991;
  height: 100%;
  width: 100%;
  left: 0;
}

/**********************************
  NAVIGATION
***********************************/
nav { position: relative; }

nav .inner {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  position: relative;
  display: -ms-flex;
  display: flex;
  width: 100%;
  z-index: 1;
}

nav .hex {
  position: absolute;
  right: 0;
}

nav .left img {
  padding-top: 35px;
  width: 145px;
}

nav .right img {
  padding-top: 40px;
  margin-left: 0;
  width: 76px;
}

@media (min-width: 576px) {
  nav .inner { display: block; }
  nav .left img { width: 265px; }
  nav .right img { width: 94px; }
  nav .hex { top: 0; }
}

/**********************************
  MASTHEAD
***********************************/
.masthead {
  padding-bottom: 45px;
  position: relative;
}

.masthead .inner {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}

.masthead .inner p { text-align: center; }
.masthead .plush-image { margin-top: -120px; }

.masthead .inner .content {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  padding-bottom: 38px;
  align-items: center;
  display: flex;
}

.masthead .inner h1 {
  padding-bottom: 24px;
  line-height: 56px;
  font-size: 42px;
}

.masthead .inner p {
  padding-bottom: 38px;
  line-height: 32px;
  font-size: 20px;
}

.masthead .inner .btn {
  margin-bottom: 14.4px;
  width: 321px;
}

@media (min-width: 576px) {
  .masthead { padding-bottom: 95px; }

  .masthead .plush-image { margin-top: 0; }
  .masthead .content { padding-bottom: 0; }
  .masthead .inner p { width: 500px; }

  .masthead .inner .plush-image {
    position: absolute;
    right: 12%;
  }
}

@media (min-width: 768px) {
  .masthead .inner {
    grid-template-columns: 50% 50%;
    -ms-align-items: center;
    align-items: center;
    display: grid;
  }

  .masthead .inner { padding-top: 60px; }
  .masthead .inner .content { align-items: baseline;; }

  .masthead .inner p {
    text-align: left;
    width: 100%;
  }

  .masthead .inner .plush-image {
    position: relative;
    right: 0;
  }
}

@media (min-width: 992px) {
  .masthead .inner {
    grid-template-columns: 50% 50%;
    display: grid;
  }

  .masthead .inner p { width: 500px; }
  .masthead .inner .plush-image { order: 1; }
}

/**********************************
  PRODUCT PRESS
***********************************/
.product-press { padding-bottom: 100px; }

.video {
  -ms-align-items: center;
  display: -webkit-flex;
  align-items: center;
  position: relative;
  display: -ms-flex;
  display: flex;
}

.video a {
  position: absolute;
  height: 63px;
  width: 53px;
  left: 44%;
}

.bar {
  background-color: var(--green);
  grid-template-columns: 40% 40%;
  -webkit-flex-direction: column;
  grid-template-rows: 30% 30%;
  -ms-flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  flex-direction: column;
  grid-column-gap: 40px;
  align-items: center;
  grid-row-gap: 30px;
  display: grid;
  padding: 25px;
  height: 130px;
}

.bar .logo { height: 20px; }

@media (min-width: 768px) {
  .bar {
    grid-template-columns: 15% 15% 15% 11%;
    grid-template-rows: 100%;
    padding: 24px;
  }

  .video a { left: 50%; }
}

@media (min-width: 992px) {
  .product-press { padding-bottom: 222px; }

  .bar {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -ms-align-items: center;
    display: -webkit-flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    display: -ms-flex;
    margin-top: 30px;
    display: flex;
  }

  .video img:nth-child(1) {
    position: relative;
    height: inherit;
    width: 620px;
  }
}

/**********************************
  PRODUCT FEATURES
***********************************/
.product-features .feature-tabs {
  border-bottom: 2px solid var(--lightBlue);
  justify-content: space-between;
  display: -webkit-flex;
  text-align: center;
  display: -ms-flex;
  display: flex;
  margin: auto;
}

.tab-content .tab-panel { text-align: center; }

.product-features .feature-tabs > li {
  transition: border 0.4s;
  margin-bottom: 10px;
  list-style: none;
}

.product-features .feature-tabs > li:hover,
.product-features .feature-tabs > li.active {
  border-bottom: 2px solid var(--blue);
  margin-bottom: -2px;
}

.tab-content { padding-top: 31px; }

.tab-content .tab-panel > .content {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  padding-bottom: 88px;
  display: -ms-flex;
  padding-top: 69px;
  display: flex;
}

@media (min-width: 992px) {
  .product-features .feature-tabs {
    text-align: left;
    width: 821px;
  }

  .tab-content .tab-panel {
    grid-template-columns: 50% 50%;
    grid-column-gap: 40px;
    display: inline-grid;
    text-align: left;
  }

  .tab-content .tab-panel img {
    height: inherit;
    margin-left: 0;
  }

  .tab-content .image {
    height: 608px;
  }

  .tab-content .tab-panel > .content {
    padding-bottom: 0;
    width: 456px;
  }
}

/**********************************
  BUNDLES SECTION & STORYKITS GROUP
***********************************/
.bundles-section .header,
.storykits .header,
.howDoesItWork .header {
  padding-bottom: 8px;
  text-align: center;
}

/**********************************
  BUNDLES SECTION
***********************************/
.bundles-section {
  background-color: var(--lightBlueOpacity);
  padding-bottom: 72px;
  position: relative;
  padding-top: 96px;
}

.bundles-section .hex {
  position: absolute;
  right: 0;
}

.bundles-section .header {
  padding-bottom: 8px;
  text-align: center;
}

.bundles-section .header p {
  letter-spacing: 0;
}

.bundles-section .pricing {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  z-index: -1;
}

.pricing .top-image { z-index: 1; }

.pricing .top-image img {
  height: 292px;
  width: 305px;
}

.pricing__tables {
  margin-top: -60px;
  display: block;
}

.pricing__table.pricing__table--starterPack,
.pricing__table.pricing__table--advancedPack {
  -webkit-flex-direction: column;
  background-color: var(--white);
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  border-radius: 3px;
  display: -ms-flex;
  padding-top: 39px;
  display: flex;
}

.pricing__table.pricing__table--starterPack {
  border: 2px solid var(--purple);
  margin-bottom: 23px;
}

.pricing__table.pricing__table--advancedPack {
  border: 2px solid var(--yellow);
}

.pricing__table.pricing__table--starterPack table,
.pricing__table.pricing__table--advancedPack table {
  margin-bottom: 31px;
  padding-left: 35px;
  margin-top: 23px;
}

.pricing__table.pricing__table--starterPack table tr td:nth-child(1),
.pricing__table.pricing__table--advancedPack table tr td:nth-child(1) {
  display: -webkit-flex;
  padding-bottom: 16px;
  display: -ms-flex;
  margin-top: 5px;
  display: flex;
  width: 18px;
}

.pricing__table.pricing__table--starterPack table tr td:nth-child(2),
.pricing__table.pricing__table--advancedPack table tr td:nth-child(2) {
  padding-left: 16px;
}

.pricing__table.pricing__table--starterPack table tr td:last-child,
.pricing__table.pricing__table--advancedPack table tr td:last-child {
  padding-bottom: 0;
}

.pricing__table.pricing__table--starterPack .illustration img,
.pricing__table.pricing__table--advancedPack .illustration img {
  height: 166px;
}

@media (min-width: 768px) {
  .pricing__table.pricing__table--starterPack table,
  .pricing__table.pricing__table--advancedPack table {
    padding-left: 0;
  }

  .pricing__table.pricing__table--starterPack,
  .pricing__table.pricing__table--advancedPack {
    padding: 39px 30px 47px 30px;
  }

  .pricing__tables {
    grid-template-columns: 40% 40%;
    justify-content: center;
    grid-column-gap: 20px;
    position: relative;
    margin-top: -94px;
    display: grid;
  }

  .pricing__table.pricing__table--starterPack {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .pricing__tables { grid-template-columns: 35% 35%; }
}

@media (min-width: 1024px) {
  .pricing__tables { grid-template-columns: 25% 25%; }
}

@media (min-width: 2560px) {
  .pricing__tables { grid-template-columns: 15% 15%; }
}

/**********************************
  STORYKITS
***********************************/
.storykits {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  padding-top: 72px;
  display: -ms-flex;
  display: flex;
}

.storykits .header { padding-bottom: 58px; }

.storykits .box {
  position: relative;
  border-radius: 3px;
}

.storykits .box > .hex {
  position: absolute;
  left: 40%;
}

.storykits .box > .box__content .text h2 {
  padding-bottom: 24px;
  padding-top: 0;
}

.box__content .header {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  padding-bottom: 0;
  display: -ms-flex;
  padding-top: 56px;
  display: flex;
}

.mobile .box__content p,
.mobile .games {
  padding: 16px 19px 24px 19px;
  text-align: center;
}

.box__content .header h2 { width: 190px; }
.box__content .header p { width: 290px; }
.box__content .image { padding-bottom: 16px; }

.storykit__info {
  color: var(--white);
  padding: 20px 15px;
  text-align: center;
  position: relative;
  display: block;
}

.storykit__info p { color: var(--white); }
.storykit__info img { margin-bottom: 8px; }

.storykits .box > .box__content {
  grid-column-gap: 46px;
  text-align: center;
  display: grid;
}

.storykits .btn { margin-top: 10px; }

@media (min-width: 768px) {
  .storykits .box { width: 630px; }
  .storykits .box > .hex { left: 45%; }

  .storykits .btn { width: 630px; }
}

@media (min-width: 992px) {
  .storykits { padding-bottom: 145px; }

  .storykits .box { width: 847px; }

  .storykits .box > .mobile .box__content { text-align: left; }

  .storykits .box > .desktop .box__content .text {
    padding: 38px 46px;
  }

  .storykit__info {
    justify-content: center;
    -ms-align-items: center;
    display: -webkit-flex;
    align-items: center;
    position: absolute;
    border-radius: 3px;
    display: -ms-flex;
    padding: 0 14px;
    display: flex;
    width: 661px;
    z-index: 999;
  }

  .storykits .btn {
    margin-top: 150px;
    width: 321px;
  }
}

/** purple box **/
.storykits .box.purple {
  border: 2px solid var(--purple);
  margin-bottom: 82px;
}

.storykits .box.purple > .hex { top: -3.7%; }

.storykits .box.purple > .hex img {
  height: 100px;
}

.storykit__info.storykit__info--purple {
  background-color: var(--purple);
}

.storykit__info.storykit__info--purple .idea { padding: 30px 0; }

@media (min-width: 576px) {
  .storykits .box.purple > .mobile .box__content .text {
    padding-right: 55px;
    padding-top: 38px;
  }
}

@media (min-width: 768px) {
  .storykits .box.purple > .hex { top: -3.4%; }
}

@media (min-width: 992px) {
  .storykits .box.purple > .hex {
    left: -40px;
    top: -11%;
  }

  .storykits .box.purple > .desktop .box__content {
    grid-template-columns: 44% 56%;
    grid-template-rows: 100%;
    height: 470px;
    display: grid;
  }

  .storykit__info.storykit__info--purple {
    bottom: -20%;
    right: -5%;
  }
}

@media (min-width: 1440px) {
  .storykits .box.purple { margin-bottom: 144px; }

  .storykit__info.storykit__info--purple {
    right: -17%;
  }
}

/** yellow box **/
.storykits .box.yellow {
  border: 2px solid var(--yellow);
}

.storykits .box.yellow > .hex { top: -2.3%; }

.storykits .box.yellow > .hex img {
  height: 74px;
}

.storykit__info.storykit__info--yellow .music { padding: 30px 0; }

.storykits .box.yellow > .box__content .text {
  padding-left: 49px;
  padding-top: 46px;
}

.storykits .box.yellow > .box__content .letter-search img {
  margin-right: -6px;
  height: 456px;
}

.storykits .box.yellow > .box__content .games img {
  padding-left: 49px;
  margin-left: 0;
}

.storykits .box.yellow > .desktop .box__content .text__no--padding {
  padding: 0 0 0 15px;
}

.storykits .box.yellow > .box__content .text h1 {
  padding-bottom: 24px;
}

.storykit__info.storykit__info--yellow {
  background-color: var(--yellow);
}

@media (min-width: 768px) {
  .storykits .box.yellow > .hex { top: -2%; }
}

@media (min-width: 992px) {
  .storykits .box.yellow > .hex {
    left: -4.4%;
    top: -4.2%;
  }

  .storykits .box.yellow > .desktop .box__content {
    grid-template-columns: 50% 50%;
    grid-template-rows: 72% 26%;
    grid-row-gap: 20px;
    display: grid;
  }

  .storykit__info.storykit__info--yellow {
    bottom: -15%;
    left: -5%;
  }
}

/**********************************
  PERFECT FOR
***********************************/
.perfect-for .hex {
  position: absolute;
  z-index: -1;
}

.perfect-for {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  padding-bottom: 40px;
  align-items: center;
  position: relative;
  display: -ms-flex;
  display: flex;
}

.perfect-for .perfect-for-grid {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  display: -ms-flex;
  display: flex;
  width: 100%;
}

.perfect-for .perfect-for-grid .text {
  padding-bottom: 40px;
  text-align: center;
  padding-top: 41px;
  width: 305px;
}

.perfect-for .perfect-for-grid > .box {
  border: 2px solid var(--green);
  background-color: var(--white);
  position: relative;
  border-radius: 3px;
  height: 209px;
  width: 100%;
}

.two-threeYears,
.three-fiveYears { margin-bottom: 24px; }

.perfect-for .perfect-for-grid > .box .box__content {
  position: absolute;
  right: 0;
}

.perfect-for .perfect-for-grid > .box .left { height: 100%; }
.perfect-for .perfect-for-grid > .box .left img { height: inherit; }

.perfect-for .perfect-for-grid > .box .box__content h2 {
  padding-top: 33px;
}

.perfect-for .perfect-for-grid > .box .box__content table tr td:nth-child(1),
.perfect-for .perfect-for-grid > .box .box__content table tr td:nth-child(1) {
  display: -webkit-flex;
  padding-bottom: 9px;
  display: -ms-flex;
  margin-top: 5px;
  display: flex;
  width: 18px;
}

.perfect-for .btn {
  margin-top: 40px;
  width: 408px;
}

@media (min-width: 375px) {
  .perfect-for .perfect-for-grid > .box .box__content {
    right: 10%;
  }
}

@media (min-width: 768px) {
  .perfect-for .perfect-for-grid > .box { width: 408px; }
}

@media (min-width: 992px) {
  .perfect-for { padding-bottom: 254.4px; }

  .perfect-for .perfect-for-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    display: grid;
    width: auto;
  }

  .perfect-for .perfect-for-grid .text {
    padding-bottom: 0;
    text-align: left;
    padding-top: 0;
    width: 300px;
  }

  .two-threeYears {
    margin-left: -80px;
    margin-bottom: 0;
  }

  .three-fiveYears {
    margin-right: 102px;
    margin-bottom: 0;
    margin-top: 14px;
  }

  .five-sevenYears {
    margin-top: 36px;
  }

  .perfect-for .perfect-for-grid > .box .box__content {
    right: 10%;
  }

  .perfect-for .perfect-for-grid > .box .box__content table tr td:nth-child(2),
  .perfect-for .perfect-for-grid > .box .box__content table tr td:nth-child(2) {
    padding-left: 9px;
  }

  .perfect-for .perfect-for-grid > .box .box__content table tr td:last-child,
  .perfect-for .perfect-for-grid > .box .box__content table tr td:last-child {
    padding-bottom: 0;
  }

  .perfect-for .btn {
    margin-top: 70px;
    width: 321px;
  }
}

/**********************************
  MADE BY PARENTS
***********************************/
.made-by {
  background-color: var(--lightBlueOpacity);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  position: relative;
  display: -ms-flex;
  display: flex;
}

.made-by .made-by-grid {
  padding: 42px 35px 40px 35px;
  text-align: center;
}

@media (min-width: 992px) {
  .made-by {
    padding-bottom: 79.7px;
    padding-top: 190px;
  }

  .made-by .made-by-grid {
    grid-template-columns: 27% 32%;
    justify-content: center;
    grid-column-gap: 65px;
    text-align: left;
    display: grid;
    padding: 0;
  }

  .made-by img {
    padding-bottom: 72px;
    position: absolute;
    height: 396px;
    width: 620px;
    top: -35%;
  }
}

/**********************************
  FEATURES
***********************************/
.features { padding: 20px 23px 32px 23px; }
.swiper-container { text-align: center; }

.features .swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  position: relative;
  display: -ms-flex;
  display: flex;
}

.features .swiper-slide .middlePlush-image {
  position: absolute;
  width: 250px;
  left: 4%;
  top: 7%;
}

.features .swiper-slide .middleIcon-image {
  position: absolute;
  bottom: 44%;
  left: 41%;
}

.features .swiper-slide .middleIcon-image.batteriesIcon,
.features .swiper-slide .middleIcon-image.hypoallergenicIcon { bottom: 38%; }

.features .swiper-slide .middleIcon-image.genuinePersonalityIcon { bottom: 41%; }
.features .swiper-slide .middleIcon-image.hypoallergenicIcon { left: 42%; }
.features .swiper-slide .middleIcon-image.operatingIcon { bottom: 37%; }
.features .swiper-slide .middleIcon-image.sizeIcon { bottom: 34%; }

.features .swiper-slide .middlePlush-image.operatingImage { top: 0; }

.features .swiper-slide .middleIcon-image.soft-and-safe {
  bottom: 41%;
  left: 42%;
}

.features .swiper-slide .text {
  padding: 20px 0 60px;
}

.features .swiper-slide .text .OS-logos {
  margin-top: 32px;
  height: 24px;
}

.features .swiper-slide .text h2 { color: var(--blue); }
.swiper-pagination-bullet { background: var(--blue); }

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}

@media (min-width: 375px) {
  .features .swiper-slide .middlePlush-image {
    width: 300px;
  }

  .features .swiper-slide .middleIcon-image {
    bottom: 37%;
    left: 43%;
  }

  .features .swiper-slide .middleIcon-image.genuinePersonalityIcon { bottom: 34%; }
  .features .swiper-slide .middleIcon-image.hypoallergenicIcon { bottom: 34%; }
  .features .swiper-slide .middleIcon-image.batteriesIcon { bottom: 34%; }
  .features .swiper-slide .middleIcon-image.soft-and-safe { bottom: 37%; }
  .features .swiper-slide .middleIcon-image.operatingIcon { bottom: 33%; }
  .features .swiper-slide .middleIcon-image.sizeIcon { bottom: 30%; }

  .features .swiper-slide .middleIcon-image.tablet-sizesIcon {
    bottom: 39%;
    left: 43%;
  }
}

@media (min-width: 425px) {
  .features .swiper-slide .middlePlush-image {
    bottom: 39%;
    left: 10%;
  }

  .features .swiper-slide .middleIcon-image.hypoallergenicIcon {
    bottom: 30%;
    left: 43%;
  }

  .features .swiper-slide .middleIcon-image.soft-and-safe {
    bottom: 33%;
    left: 44%;
  }

  .features .swiper-slide .middleIcon-image.operatingIcon { bottom: 29%; }
  .features .swiper-slide .middleIcon-image.tablet-sizesIcon { bottom: 36% }
}

@media (min-width: 768px) {
  .features .swiper-slide .middlePlush-image {
    left: 30%;
  }

  .features .swiper-slide .middleIcon-image {
    bottom: 33%;
    left: 47%;
  }

  .features .swiper-slide .middleIcon-image.genuinePersonalityIcon { bottom: 30%; }
  .features .swiper-slide .middleIcon-image.hypoallergenicIcon { left: 46%; }

  .features .swiper-slide .middleIcon-image.soft-and-safe {
    bottom: 30%;
    left: 47%;
  }

  .features .swiper-slide .middleIcon-image.tablet-sizesIcon { top: 46%; }
}

/**********************************
  HOW DOES IT WORK
***********************************/
.howDoesItWork {
  position: relative;
  padding-top: 62px;
  overflow: hidden;
}

.howDoesItWork .yellowHex,
.howDoesItWork .greenHex {
  position: absolute;
  z-index: -1;
}

.howDoesItWork .yellowHex {
  top: -10%;
  right: 0;
}

.verticalLine {
  display: none;
  left: 840px;
  top: 424px;
}

.top-line {
  border-left: 4px solid var(--green);
  position: absolute;
  height: 80px;
  z-index: -1;
}

#mySVG {
  position: absolute;
  z-index: -2;
}

.howDoesItWork .header h1 {
  padding-bottom: 58px;
}

.howDoesItWork .grid { text-align: center; }

.box .pointImage { height: 83px; }

.box.sensors,
.box.learn { padding-bottom: 57px; }

.box.sensors .stepImage {
  height: 221px;
  width: 202px;
}

.box.learn .stepImage {
  height: 205px;
  width: 230px;
}

.box.development .stepImage {
  height: 213px;
  width: 197px;
}

.howDoesItWork .greenHex {
  bottom: 0;
  left: 0;
}

@media (min-width: 992px) {
  .howDoesItWork { padding-bottom: 285px; }

  .verticalLine {
    display: block;
  }

  .howDoesItWork .grid {
    grid-row-gap: 47px;
    text-align: left;
    display: grid;
  }

  .howDoesItWork .grid .box {
    grid-template-columns: 10% 30% 49%;
    -ms-align-items: center;
    justify-content: center;
    align-items: center;
    display: grid;
  }
}

/**********************************
  MEET OCTOBO'S FRIENDS
***********************************/
.meet-friends {
  padding-bottom: 31px;
  position: relative;
  padding-top: 81px;
}

.meet-friends .hex {
  position: absolute;
  right: 0;
}

.meet-friends .friends-content { text-align: center; }

.meet-friends .friends-images {
  padding-bottom: 32px;
  padding-top: 44px;
}

@media(min-width: 768px) {
  .meet-friends .friends-images img { height: 300px; }
  .meet-friends .friends-images { padding-bottom: 0; }
  .meet-friends .friends-content { text-align: left; }

  .meet-friends .content {
    grid-template-columns: 50% 50%;
    display: grid;
  }

  .meet-friends .btn { display: none; }
}

/**********************************
  FOOTER
***********************************/
footer {
  background-color: var(--green);
  padding-bottom: 23px;
  padding-top: 24px;
}

footer .social-links {
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

footer .social-links a { margin-right: 23px; }
footer .social-links a:last-child { margin-right: 0; }

footer p {
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: center;
  line-height: 1.75;
  font-size: 12px;
}
